.DS_Store
lib/*
cmake-build-debug/*
cmake-build-release/*
.idea
*.user
*.stash
build/*
guix-build-*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
feather_autogen/
feather.cbp
src/assets_tor.qrc
src/assets_docs.qrc
feather.AppDir/*
src/assets/tor/*
src/assets/docs/*
!src/assets/tor/.gitkeep
!src/assets/docs/.gitkeep
contrib/installers/windows/setup.nsi
githash.txt
guix/guix-build-*
