[submodule "monero"]
	path = monero
	url = https://github.com/feather-wallet/monero.git
[submodule "src/third-party/singleapplication"]
	path = src/third-party/singleapplication
	url = https://github.com/itay-grudev/SingleApplication.git
