.DS_Store
lib/*
cmake-build-debug/*
.idea
*.user
*.stash
build/*
guix-*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
feather_autogen/
feather.cbp
src/config-feather.h
src/assets_tor.qrc
feather.AppDir/*
src/assets/tor/*
!src/assets/tor/.gitkeep
guix-build-*
