[submodule "monero"]
	path = monero
	url = https://github.com/feather-wallet/monero.git
[submodule "src/third-party/polyseed"]
	path = src/third-party/polyseed
	url = https://github.com/tevador/polyseed.git
[submodule "external/feather-docs"]
	path = external/feather-docs
	url = https://github.com/feather-wallet/feather-docs.git
[submodule "external/feather-sigs"]
	path = external/feather-sigs
	url = https://github.com/feather-wallet/feather-sigs.git
[submodule "external/feather-codesigning"]
	path = external/feather-codesigning
	url = https://github.com/feather-wallet/feather-codesigning.git
