[Desktop Entry]
Type=Application
Name=Feather Wallet
GenericName=Monero Wallet
Comment=A free Monero desktop wallet
Icon=org.featherwallet.Feather
Exec=/app/startup
Terminal=false
Categories=Network;Qt;Finance
StartupNotify=false
StartupWMClass=feather