[Desktop Entry]
Type=Application
Name=Feather
GenericName=Monero Wallet
Comment=A free Monero desktop wallet
Icon=feather
Exec=feather
Terminal=false
MimeType=x-scheme-handler/monero;
Categories=Network;
StartupNotify=false
StartupWMClass=feather